<!DOCTYPE html>
<html>
<head>

<!-- 
   for json
   vertical date 기간 정해서 보여드림 (글자 많으니 세로로)
 -->
<title>Line Chart5</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<style>
//svg { border: 1px solid black; }
.line, 
.axis line, 
.axis path 
.axis_x line { fill: none; stroke: black; }
.axis text { font-family:s ans-serif; font-size: 11px; }
.itemA { stroke: red;  stroke-width: 2.5; fill:none;}
.itemB { stroke: green; stroke-width: 2.5; fill:none;}
.itemC { stroke: blue; stroke-width: 2.5; fill:blue;}
</style>
<script>
$(document).ready(function(){
    var h = 500;
    var w = $('#target').width();
    $('#target').height(h);
    $('#myGraph').width(w);
    $('#myGraph').height(h);
    
    var svgHeight = $('#myGraph').height() - 50;
    var svgWidth  = $('#myGraph').width()  - 50;
    
    var offsetX = 30;
    var offsetY = 20;
    var scale = 2.0;
    var maxValue = 200;
    
    // dataSet Area
    var dataSet1 = [50,40,30,80,60,70,80,90,190,180,60,40,20];
    var dataSet2 = [20,30,20,60,20,50,60,70,10,10,10,100,200];
    var dataSet3 = [10,40,80,190,150,110,150,100,90,70,60,50,40];
    
    
    var dataSet = [
        { year: "20071001", item1:10, item2:20, item3: 30 },
        { year: "20071002", item1:20, item2:40, item3: 30 },  
        { year: "20071003", item1:10, item2:20, item3: 30 },  
        { year: "20071004", item1:30, item2:60, item3: 30 },  
        { year: "20071005", item1:10, item2:20, item3: 30 },  
        { year: "20071006", item1:40, item2:80, item3: 30 },  
        { year: "20071007", item1:10, item2:20, item3: 30 },  
        { year: "20071008", item1:50, item2:100, item3: 30 },  
        { year: "20071009", item1:10, item2:20, item3: 30 },  
        { year: "20071010", item1:60, item2:120, item3: 30 },
        { year: "20071011", item1:10, item2:20, item3: 30 },  
        { year: "20071012", item1:70, item2:200, item3: 30 },  
        { year: "20071013", item1:10, item2:20, item3: 30 },  
        { year: "20081014", item1:80, item2:190, item3: 30 },
        { year: "20071015", item1:10, item2:20, item3: 30 },
        { year: "20071016", item1:10, item2:20, item3: 30 },
        { year: "20071017", item1:20, item2:40, item3: 30 },  
        { year: "20071018", item1:10, item2:20, item3: 30 },  
        { year: "20071019", item1:30, item2:60, item3: 30 },  
        { year: "20071020", item1:10, item2:20, item3: 30 },  
        { year: "20071021", item1:40, item2:80, item3: 30 },  
        { year: "20071022", item1:10, item2:20, item3: 30 },  
        { year: "20071023", item1:50, item2:100, item3: 30 },  
        { year: "20071024", item1:10, item2:20, item3: 30 },  
        { year: "20071025", item1:60, item2:120, item3: 30 },
        { year: "20071026", item1:10, item2:20, item3: 30 },  
        { year: "20071027", item1:70, item2:200, item3: 30 },  
        { year: "20071028", item1:10, item2:20, item3: 30 },  
        { year: "20081029", item1:80, item2:190, item3: 30 },
        { year: "20071030", item1:10, item2:20, item3: 30 }
    ];

    var margin = svgWidth/(dataSet.length - 1 );
    
    function drawGraph(dataSet, itemName,cssClassName, type){
        var line = d3.svg.line()
                         .x(function(d,i){
       	                     return offsetX +  i * margin ;
                         })
                         .y(function(d,i){
       	                     return svgHeight  -  (d[itemName] * scale) - offsetY  ; 
                          })
                          .interpolate(type)
        var lineElements = d3.select("#myGraph")
                             .append("path")
                             .attr("class", cssClassName)
                             .attr("d", line(dataSet))		  
                             .on("mouseover", function(d, i){
                   			  console.log(i);
                   		  })
    }
    
    
    function drawSclae(){
        var yScale = d3.scale.linear()
        .domain([0, maxValue])
        .range([scale*maxValue, 0]);
		d3.select("#myGraph")
		.append("g")
		.attr("class", "axis")
		.attr("transform", "translate("+offsetX+","+ ((svgHeight-(maxValue*scale)-offsetY))+")")
		.call(
		 d3.svg.axis()
		   .scale(yScale)
		   .orient("left")
		)
		
		var xScale = d3.time.scale()
		               .domain([new Date("2017/10/01"), new Date("2017/10/30")])
		               .range([0,svgWidth])
		               
		d3.select("#myGraph")
		  .append("g")
		  .attr("class", "axis")
		  .attr("transform", "translate("+offsetX+","+ (svgHeight -offsetY)+")")
		  .call(
		  d3.svg.axis()
		    .scale(xScale)
		    .orient("bottom")
		    .tickFormat(d3.time.format("%Y %m/%d"))

		  )
		  .selectAll("text")
		  .attr("transform", "rotate(90)")
		  .attr("dx", "0.7em")
		  .attr("dy", "-0.4em")
		  .style("text-anchor", "start")

			
    }

    drawGraph(dataSet ,"item1", "itemA", "linear");
    drawGraph(dataSet ,"item2", "itemB", "basis");
    drawGraph(dataSet ,"item3", "itemC", "monotone");
    drawSclae();
    
    
    d3.select("#myGraph")
      .append("rect")
      .attr("class", "axis_x")
      .attr("width", svgWidth)
      .attr("height", 1)
      .attr("transform", "translate("+offsetX+","+(svgHeight-offsetY-0.5)+")")
	
      
      
      
      
});
</script>
<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div id="target" class="col-md-8">
            <svg id="myGraph"></svg>
        </div>
        <div class="col-md-2"></div>
    </div>

</body>
</html>