<!DOCTYPE html>
<html>
<head>
    <title>Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style>
        .axis line,
        .axis path
        .axis_x line { fill: none; }
        .axis text { font-family:s ans-serif; font-size: 10px; }
        .lines {stroke-width: 2.5; fill:none;}
        .bold {
            font-weight: bold;
            font-size: 15pt;
        }
    </style>

    <script>
        $(document).ready(function() {

            // 색깔을 번호에 따라맞추기 위함 =
            var autoColor = d3.scale.category20();

            // 종류 가져오는 거 만들자 정규적으로
            var kind = ["A","B","C","D","E"];

            // 테이블의 데이터를 읽은 후에 맥스 데이터를 재설정 됨
            var maxData = 100;
            /**
                Must keep the rules
                1. resultTable1 > thead
                2. resultTable1 > tbody
             */
            var headers1 = new Array();
            $('#resultTable1 >  thead > tr').each(function(){
                var $tr = $(this);
                $tr.find("td").each(function(tdCnt){
                    var $td = $(this);
                    headers1.push($td.text());
                });
            });

            var tableData1 = new Array();
            $('#resultTable1 >  tbody > tr').each(function(trCnt){
                var $tr = $(this);
                var trData1 = new Array();
                $tr.css('background-color', autoColor(trCnt));
                $tr.find("td").each(function(tdCnt){
                    var tdData1 = new Object();
                    var $td = $(this);
                    tdData1.date = headers1[tdCnt];
                    tdData1.value = parseFloat($td.text());
                    trData1.push(tdData1);
                    if(maxData < tdData1.value){
                        maxData = tdData1.value;
                    }
                })
                tableData1.push(trData1);
            });

            // JSON DATA 완성
            var tableResults1 = JSON.stringify(tableData1);
            var tableJson1 = JSON.parse(tableResults1);

            // 시작 종료 데이터
            var startDate = headers1[0];
            var endDate = headers1[headers1.length - 1 ];

            // 데이터 기간의 길이
            var dateLength = headers1.length;

            // 데이터를 검색하여 맥스값을 정하여 높이와 스켸일을 정합니다.
            var offsetX = String(maxData).length * 8;
            var offsetY = startDate.length * 8;

            // 그래프에 허용되는 높이값을 정의합니다. 크기가 클 경우 가시성이 떨어집니다.
            var h = 500;

            var w = $('#target').width();
            $('#target').height(h);
            var svgWidth  = w;
            var svgHeight = h;

            $('#myGraph').width(w + (offsetX * 2));
            $('#myGraph').height(h);


            // Auto Calculate Start;
            var scale =  (($('#myGraph').height()/maxData)*0.8);

            var delimiter = "/";
            var format;
            if(startDate.length == 4){
                format =  "%Y";
            }else if(startDate.length == 6){
                format =  "%Y %m";
                startDate  = startDate.substring(0,4) + delimiter + startDate.substring(5,6);
                endDate    = endDate.substring(0,4)   + delimiter + endDate.substring(5,6);
            }else if(startDate.length == 8){
                format =  "%Y %m %d";
                startDate  = startDate.substring(0,4) + delimiter + startDate.substring(5,6) + delimiter + startDate.substring(7,8);
                endDate    = endDate.substring(0,4)   + delimiter + endDate.substring(5,6)   + delimiter + endDate.substring(7,8);
            }
            // Auto Calculate End;


            var margin = svgWidth/(tableJson1[0].length - 1 );
            function drawGraph(dataSet, colorNum, type){

                var line = d3.svg.line()
                    .x(function(d,i){
                        return offsetX +  i * margin ;
                    })
                    .y(function(d,i){
                        return svgHeight  -  (d.value * scale) - offsetY  ;
                    })
                    .interpolate(type)
                var lineElements = d3.select("#myGraph")
                    .append("path")
                    .attr("class", "lines")
                    .style("stroke", autoColor(colorNum))
                    .attr("d", line(dataSet))
                    .attr("kind", kind[colorNum])
                    .attr("kindCnt", colorNum)
                    .on("mouseover", function(d, i){
                        $('#myGraphMsg').text($(this).attr("kind"));

                        var kindCnt = $(this).attr("kindCnt");

                       $('#resultTable1 tbody tr').each(function(i){
                           var $tr = $(this);
                           if(i == kindCnt){
                               $tr.addClass("bold");
                           }else{
                               $tr.removeClass("bold");
                           }
                       })




                    })
            }




            function drawSclae(){
                var yScale = d3.scale.linear()
                    .domain([0, maxData])
                    .range([scale*maxData, 0]);
                d3.select("#myGraph")
                    .append("g")
                    .attr("class", "axis")
                    .attr("transform", "translate("+offsetX+","+ ((svgHeight-(maxData*scale)-offsetY))+")")
                    .call(
                        d3.svg.axis()
                            .scale(yScale)
                            .orient("left")
                    )

                var xScale = d3.time.scale()
                    .domain([new Date(startDate), new Date(endDate)])
                    .range([0,svgWidth])

                d3.select("#myGraph")
                    .append("g")
                    .attr("class", "axis")
                    .attr("transform", "translate("+offsetX+","+ (svgHeight -offsetY)+")")
                    .call(
                        d3.svg.axis()
                            .scale(xScale)
                            .orient("bottom")
                            .ticks( dateLength - 1 )
                            .tickFormat(d3.time.format(format))
                    )
                    .selectAll("text")
                    .attr("transform", "rotate(90)")
                    .attr("dx", "0.7em")
                    .attr("dy", "-0.4em")
                    .style("text-anchor", "start")
            }

            for(var x = 0; x < tableJson1.length; x++){
                drawGraph(tableJson1[x], x, "linear");
            }
            drawSclae();

            d3.select("#myGraph")
                .append("rect")
                .attr("class", "axis_x")
                .attr("width", svgWidth)
                .attr("height", 1)
                .attr("transform", "translate("+offsetX+","+(svgHeight-offsetY-0.5)+")")

        });
    </script>
</head>
<body>
<div class="container">


<div id="target" class="col-md-12">
    <svg id="myGraph"></svg>
</div>

<div class="col-md-12">
    <div id="myGraphMsg"></div>
</div>
    <div class="row">
        <div class="col-md-12">

            <table id='resultTable1' class="table table-striped table-sm">
                <thead>
                    <tr>
                        <td>20180101</td>
                        <td>20180102</td>
                        <td>20180103</td>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10</td>
                    <td>20</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>50</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>50</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>140</td>
                    <td>50</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>150</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>150</td>
                    <td>100</td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>
</body>
</html>
